# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* List of popular languages.
* List of popular libraries.
* Arithmetic Expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:
1. Sklearn.
2. Pandas.
3. Numpy.
4. Tensorflow.

In [2]:
print("Data Science Tools\nJupyter Notebook\nR Studio\nVisual Studio Code")

Data Science Tools
Jupyter Notebook
R Studio
Visual Studio Code

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers:

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60:

In [5]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Autor 
Cristian Chiquillo